<%= stylesheet_link_tag 'redmine_media', :plugin => "redmine_media" %>

<script src="/plugin_assets/redmine_media/javascripts/flowplayer-3.1.2.min.js">
</script>
<div class="media_item">
	<p class="view_media_item_name"><%= @media_file.name %></p>
    <% if @media_file.is_audio? %>
    <p>
        <object type="application/x-shockwave-flash" width="400" height="20" data="/plugin_assets/redmine_media/swf/xspf_player_slim.swf?song_url=<%= CGI::escape(@media_file.media_url) %>&song_title=<%= @media_file.name %>">
            <param name="movie" value="/plugin_assets/redmine_media/swf/xspf_player_slim.swf?song_url=<%= CGI::escape(@media_file.media_url) %>&song_title=<%= @media_file.name %>" />
        </object>
    </p><% end %>
    <% if @media_file.is_video? %>
    <% if @media_file.converted? %>
    <a href="<%= @media_file.media_url %>" style="display:block;width:800px;height:600px" id="player<%= @media_file.id %>"></a>
    <script language="JavaScript">
        flowplayer("player<%= @media_file.id %>", "/plugin_assets/redmine_media/swf/flowplayer-3.1.2.swf", {
            clip: {
            
                autoPlay: false,
                autoBuffering: false
				//onStart: function(clip){alert("Clip "+ clip.url);}
            }
        });
    </script>
    <% end %>
    <% if !@media_file.converted? %>
    <p>
        Unconverted Video
    </p>
    <% end %>
    <% end %>
	<p class="view_media_item_author">created on <%= @media_file.created_on.strftime('%b %d, %Y') %> by <%= @media_file.user.login %></p>
    <br/>
    <%= @media_file.description %>
    <%= render :partial => "media_item_comment_area" %>
</div>
